<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <h3><a href="/student/add">Add Student</a></h3>
    <%include ./partial/menu%>
    <table>
      <tr>
        <th>no</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>email</th>
        <th>Action</th>
        <th>option</th>
      </tr>
      <%for(var i = 0; i < dataStudent.length; i++) {%>
      <tr>
        <td><%=i+1%></td>
        <td><%=dataStudent[i].first_name%></td>
        <td><%=dataStudent[i].last_name%></td>
        <td><%=dataStudent[i].email%></td>
        <td><a href="/student/<%=dataStudent[i].id%>/addsubject">Add Subject</a></td>
        <td><a href="/student/edit/<%=dataStudent[i].id%>">edit</a> | <a href="/student/delete/<%=dataStudent[i].id%>">hapus</a></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
