<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <h3><a href="/teacher/add">Add Teacher</a></h3>
    <% include ./partial/menu %>
    <table>
      <tr>
        <th>no</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>email</th>
        <th>subject</th>
        <th>option</th>
      </tr>
      <%for(var i =0 ; i< dataTeacher.length; i++) {%>
      <tr>
        <td><%=i+1%></td>
        <td><%=dataTeacher[i].first_name%></td>
        <td><%=dataTeacher[i].last_name%></td>
        <td><%=dataTeacher[i].email%></td>
        <td><%=(dataTeacher[i].Subject) ? dataTeacher[i].Subject.subject_name: 'unsigned' %></td>
        <td><a href="/teacher/edit/<%=dataTeacher[i].id%>">edit</a> | <a href="/teacher/delete/<%=dataTeacher[i].id%>">delete</a></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
